* {
	box-sizing: border-box;
}

body {
    display: grid;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #241f1f;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

h1 {
    color: rgb(255, 255, 255);
}

a {
    color: rgb(162, 8, 252);
    &:hover {
        transform: scale(1.1);
        color: rgb(218, 180, 180);
    }
}

button {
    &:hover {
        transform: scale(1.2);
        color: rgb(162, 8, 252);
    }
}

input[type=file] {
    &:hover {
        background-color: rgb(162, 8, 252);
        color: white;
        transform: scale(1.1);
    }
}

input[type=text] {
    &:focus {
        border: yellowgreen 8px solid;
    }
    &:hover {
        border: rgb(218, 180, 180) 8px solid;
    }
}

input[type=email] {
    &:focus {
        border: yellowgreen 8px solid;
    }
    &:hover {
        border: rgb(218, 180, 180) 8px solid;
    }
}

input[type=password] {
    &:focus {
        border: yellowgreen 8px solid;
    }
    &:hover {
        border: rgb(218, 180, 180) 8px solid;
    }
}

input[class=darken] {
    &:hover {
        border: 0px rgb(218, 180, 180) ;
        transform: scale(.99);
    }
}









